.todo-list{
    list-style: none;
}
.todo-item {
    margin-bottom: 5px;
}
.todo-button {
    border-radius: 25px;
    border-color: blueviolet;
    background-color: skyblue;
    margin-left: 10px;
}

.done {
    text-decoration: line-through;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 10px;
    }

input {
    margin-bottom: 5px;
}

.submit-btn {
    background-color: goldenrod;
}